$primary-color: hsl(25, 97%, 53%);

$white: hsl(0, 0%, 100%);

$light-grey: hsl(217, 12%, 63%);
$dark-grey: hsl(216, 12%, 54%);

$dark-blue-1: hsl(213, 19%, 18%);
$dark-blue-2: hsl(216, 12%, 8%);
