.rating {
   width: 25%;
   padding: 2.8rem;
   border-radius: 22px;
   background-color: $dark-blue-1;
   @include absCenter;

   & > * {
      margin-bottom: 2rem;
   }

   &__icon {
      background-color: rgb(53 62 73);
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      position: relative;

      svg {
         @include absCenter;
      }
   }

   &__heading {
      color: $white;

      font-weight: 400;
      font-size: 2.4rem;
   }

   &__paragraph {
      line-height: 1.6;
      font-size: 1.3rem;
      color: $dark-grey;
      margin-top: -1rem;

      // width: 95%;
   }

   &__meter {
      display: flex;
      gap: 1.8rem;

      input[type="radio"] {
         display: none;
      }

      input[type="radio"]:checked + label {
         background-color: $dark-grey;

         span {
            color: $white;
         }
      }

      label {
         cursor: pointer;
         background-color: rgb(53 62 73);
         box-shadow: 0 1rem 7rem 1rem $dark-blue-2;
         width: 4.2rem;
         height: 4.2rem;
         border-radius: 50%;
         text-align: center;

         &:hover {
            background-color: $primary-color;
         }

         span {
            color: $dark-grey;
            font-size: 1.4rem;
            display: inline-block;
            margin-top: 1.3rem;
            font-weight: 700;
         }

         &:hover span {
            color: $white;
         }
      }
   }

   &__submit {
      display: inline-block;
      cursor: pointer;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      background-color: $primary-color;

      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 2px;

      margin-top: 1rem;
      margin-bottom: 0.8rem;
      width: 100%;
      padding: 1rem 0;
      border-radius: 33px;

      &:hover {
         color: $primary-color;
         background-color: $white;
      }
   }
}
